<style type="text/css">
.ghContributors{
display:flex;
flex-flow: wrap;
align-content:flex-start;
}

.ghContributors > div{
width:50%;
display:inline-flex;
margin-bottom:5px;
}

.ghContributors > div label{
padding-left:4px;
}

.ghContributors > div span{
font-size:x-small;
padding-left:4px;
}
</style>

<div class="ghContributors">
  {{ $url := .Get 0 }}
  {{ with resources.GetRemote $url }}
    {{ $data := . | transform.Unmarshal }}
    {{ range $data }}
      <div>
        <img src="{{ .avatar_url }}" width="32" height="32" style="margin-bottom:.25em;vertical-align:middle;">
        <label><a href="{{ .html_url }}">@{{ .login }}</a></label>
        <span class="contributions">{{ .contributions }} commits</span>
      </div>
    {{ end }}
  {{ end }}
</div>